#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #212529;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 48px;
}
.section1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 28px;
}
.line {
  border-right: 1px solid white;
  height: 40px;
}

.hero {
  height: 100vh;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 45px;
  padding-left: 300px;
  font-weight: 500;
}
.hero-content {
  font-size: 11rem;
  font-weight: 700;
  margin-left: 15px 0;
  margin-right: 0;
  background: linear-gradient(90deg, #19f28a, #8fd3cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn {
  color: black;
  background: #7de3dc;
  font-size: 2rem;
  font-weight: 100;
}


.section {
  align-items: center;
  color: white;
  font-size: 3rem;
  
}
.section span {}
