#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #212529;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 48px;
}
.section1-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 28px;
}
.line {
  border-right: 1px solid white;
  height: 40px;
}

.hero {
  height: 100vh;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 45px;
  padding-left: 300px;
  font-weight: 500;
}
.hero-content {
  font-size: 11rem;
  font-weight: 700;
  margin-left: 15px 0;
  margin-right: 0;
  background: linear-gradient(90deg, #19f28a, #8fd3cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn {
  color: black;
  background: #7de3dc;
  font-size: 2rem;
  font-weight: 100;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.about-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

.about-text p {
  font-size: 1.8rem;
  font-weight: 200px;
  text-align: left;
  padding-left: 400px;
  padding-right: 300px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center; 
}

.about-image img {
  width: 300px;
  border-radius: 10px;
  padding-right: 300px;
  border: #19f28a;
  border-radius: 2px;
}


.project1 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;

}

.left1 {
  font-size: 1.8rem;
  font-weight: 200;
  text-align: left;
  padding: 60px;
  background-color:#489597;
  padding-left: 300px;
  margin-left: 400px;
  
  


}
.l1-title {
  font-size: 2rem;
  font-weight: 700;
}
.l1-content {
  font-size: 1.4rem;
}

.tech-stack span {
  font-size: 1.5 rem;
  font-weight: bold;

}
.left,
.right1 {
  flex: 1;
}
.right1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
  padding-right: 300px;
  margin-right: 400px;
  
}










.contacts {
  font-size: 2rem;
  font-weight: 200;
}
.contact-btn {
  background-color: #76f3f7;
  color: black;
  font-size: 1.5rem;
  font-weight:600;
  padding: 2rem 3rem;
}
